
div#tipDiv {
    padding:4px;
    color:#000; font-size:11px; line-height:1.2;
    background-color:#E1E5F1; border:1px solid #667295; 
    width:250px; 
}

.jump {
	font-weight: bold;
	font-size: 26px;
	color: #ffffff;
}

.jumpsel {
	font-weight: bold;
	font-size: 26px;
	color: #5e899a;
	border: 0px;
	width: 200px;
	height: 40px;

}

#cal td {
	border: solid #eef2f3 1px;
	
}


.dbmessage {
	background-color: #F8E2E3;
	margin: 12px;
	padding: 4px;
	border: 1px solid #800000;
	color: #800000;
}

.adminheader {
	background-color: #5c5c5c;
    padding: 4px;
    border: 1px solid #5c5c5c;
    color: #ffffff;
	
}

.label {  background-color: #f8f8f8;}
.form1 { border: 1px inset #eeeeee; background-color: #EDF1FA; padding: 2px; font-family: Verdana, Arial, Helvetica, san-serif; font-size: 11px; color: #404F66;}
.text11 {font-size:0.88em;}
.input {width:95%;}
.manage-column {
	background-color: #f2f2f2;
}

.clear {
	clear:both;
}

.location {
	font-size: 12px;
}

/*Small Calendar Styles*/

.days
{
	font-size:11px;
	font-family:Verdana;
	color:#666666;
	width:10%;
	text-align:center;
}

.flex {
	display:flex;

}
	.align_start {
		align-items: flex-start;
	}

.open {
	display: block;
}

.closed {
	display: none;
}

.ssmshare {
	max-width: 68px;
	height: 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;	
	border: solid 1px #cccccc;
	overflow: hidden;
	padding-top: 5px;
	margin-top: 5px;
}


#daybg 
{
	
	width:26px;
	height:26px;
}

#daybgselected 
{
	
	width:26px;
	height:26px;
}


/*End calendar styles */

/* ======== Upcoming Event Styles ======== */
#eventbox {
	width: 90%;
	height: auto;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	border: solid #dddddd 1px;
	text-align: left;
}

#eventbox .eventcontent {
	float:left;
	width: 65%;
	padding-right: 20px;
}

#eventbox .eventcontentfull {
	width: 100%;
	height: auto;
	padding-right: 20px;
}

#eventbox .event_text, a{
	font-family: Tahoma;
	font-size: 1em;
}



#eventbox .event_image img {
	width: 100%;
}


a.title2:link {color:#6e3e82; font-family:Tahoma;	font-size:15px;	font-weight:bold;  text-decoration: none;}
a.title2:visited {color:#6e3e82; font-family:Tahoma;	font-size:15px;	font-weight:bold;  text-decoration: none;}
a.title2:hover {color:#6e3e82; font-family:Tahoma;	font-size:15px;	font-weight:bold;  text-decoration: none;}
a.title2:active {color:#6e3e82; font-family:Tahoma;	font-size:15px;	font-weight:bold;  text-decoration: none;}

a.adminLink:link {color:#0077cc; font-family:Tahoma;	font-size:12px;	text-decoration: none;}
a.adminLink:visited {color:#0077cc; font-family:Tahoma;	font-size:12px;	text-decoration: none;}
a.adminLink:hover {color:#0077cc; font-family:Tahoma;	font-size:12px;	text-decoration: underline;}
a.adminLink:active {color:#0077cc; font-family:Tahoma;	font-size:12px;	text-decoration: none;}

a.rsvplink:link {color:#df2d31; font-family:Tahoma;	font-size:0.8em; font-weight:bold;	text-decoration: none;}
a.rsvplink:visited {color:#df2d31; font-family:Tahoma;	font-size:0.8em; font-weight:bold;	text-decoration: none;}
a.rsvplink:hover {color:#df2d31; font-family:Tahoma;	font-size:0.8em; font-weight:bold;	text-decoration: underline;}
a.rsvplink:active {color:#df2d31; font-family:Tahoma;	font-size:0.8em; font-weight:bold;	text-decoration: none;}

.btn_rsvp {
	border: 0;
	padding: 10px;
	color: #ffffff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	background-color: #20495a;
	cursor: hand;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn_rsvp:hover {
	background-color: #142e39;
}

.cursor {
	cursor: hand;
	cursor: pointer;
}


#eventbox .title2 {
	color:#000000;
	font-family:Tahoma;
	font-size:15px;
	font-weight:bold;
	padding-bottom: 5px;
}

#eventbox .title2 a {
	font: 16px 'lato', Arial, sans-serif; color: #f79925; font-weight:bold; font-style: italic; text-decoration:none;
	
}

#eventbox .event_date {
	color:#464646;
	font-family:Tahoma;
	font-size:13px;
	font-weight:bold;
}

#eventbox .eventshare {
	float: left;
	width:30%;
	height:auto;
	background-color:#ffffff;
	border: solid #dddddd 1px;
	font-family:Arial, sans-serif;
	font-size:12px;
	padding-bottom:10px;
}

#eventbox .sharetitle {
	background-color:#dc5363;
	width:100%;
	height:25px;
	color:#ffffff;
	font-weight:bold;
}

#eventbox .addthis {
	margin-left:25px;
}

#calarea {
	height: 200px;
	overflow:hidden;
}

#calarea .leftside {
	float:left;
	width:45px;
}

#calarea .rightside {
	float:left;
	color: #252525;
	font-family: Arial, sans-serif;
	font-size: 12px;
	width:160px;
	padding-left:5px;
}

#calendar_bg {
	background:url(images/cal_bg.jpg) top left no-repeat;
	width: 45px;
	height: 60px;
}

.date {
	color: #464646;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding-top:14px;
	padding-right:3px;
}

#calendar_bg .month {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-top:3px;
}

/*Input Styles*/
#calendarset select, #calendarset textarea, #calendarset input[type="text"],#calendarset input[type="password"],#calendarset input[type="datetime"],#calendarset input[type="datetime-local"],#calendarset input[type="date"],#calendarset input[type="month"],#calendarset input[type="time"],#calendarset input[type="week"],#calendarset input[type="number"],#calendarset input[type="email"],#calendarset input[type="url"],#calendarset input[type="search"],#calendarset input[type="tel"],#calendarset input[type="color"],.uneditable-input{display:inline-block;height:20px;padding:4px 6px;margin-bottom:10px;font-size:12px;line-height:20px;color:#555555;border:1px solid #bcbcbc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;vertical-align:middle;}

#calendarset textarea,#calendarset input[type="text"],#calendarset input[type="password"],#calendarset input[type="datetime"],#calendarset input[type="datetime-local"],#calendarset input[type="date"],#calendarset input[type="month"],#calendarset input[type="time"],#calendarset input[type="week"],#calendarset input[type="number"],#calendarset input[type="email"],#calendarset input[type="url"],#calendarset input[type="search"],#calendarset input[type="tel"],#calendarset input[type="color"],.uneditable-input{background-color:#ffffff;border:1px solid #bcbcbc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear .2s, box-shadow linear .2s;-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;transition:border linear .2s, box-shadow linear .2s;}

#calendarset textarea:focus,#calendarset input[type="text"]:focus,#calendarset input[type="password"]:focus,#calendarset input[type="datetime"]:focus,#calendarset input[type="datetime-local"]:focus,#calendarset input[type="date"]:focus,#calendarset input[type="month"]:focus,#calendarset input[type="time"]:focus,#calendarset input[type="week"]:focus,#calendarset input[type="number"]:focus,#calendarset input[type="email"]:focus,#calendarset input[type="url"]:focus,#calendarset input[type="search"]:focus,#calendarset input[type="tel"]:focus,#calendarset input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);min-height: 28px;}

#calendarset select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
}

/*Table Styles*/
#calendarset table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.cal_responsive_nav {
    display:none;
}


/* ======== End Upcoming Event Styles */

*/ ======= Responsive Styles ====== */

/* Then progressively add bigger sizes from small to large */

/* Smartphones start somewhere around here */
@media (min-width: 300px) {

}

@media (min-device-width: 375px) {
	.cal_responsive_nav { 
		display: block;
		width:100%;
		font-family:'Roboto', Helvetica, Arial;
		font-size:.8em;
		text-transform:uppercase;
		
		margin-top: -5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		color:#464646;
		border: solid #ccbeba 1px;
		outline:none;
		display: inline-block;
		-webkit-appearance:none !important;
		-moz-appearance:none !important;
		appearance:none !important;
		cursor:pointer;
		background:#fff url(/dev/kybsites/aisd/wp-content/themes/aisd/images/resp_menu.gif)95% center no-repeat;
		background-size: 18px 18px;
	}
    .tabsbar {display: none;}
	.js .cal_responsive_nav { display: block; width:100%; }
    .js #navlist { display: none; }

    .row-fluid .span6.settingsright {
      float: none;
      width: 100%;
     }
     .row-fluid .span6.settingsleft {
        float: none;
        width: 100%;
     }

     .widget widget-head.subwidget {
        height: 75px;
     }
}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) {


	
}

/* Starting into tablets somewhere in here */
@media (min-width: 640px) {


	.cal_responsive_nav { 
		display: block;
		width:100%;
		font-family:'Roboto', Helvetica, Arial;
		font-size:.8em;
		text-transform:uppercase;
		
		margin-top: -5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		color:#464646;
		border: solid #ccbeba 1px;
		outline:none;
		display: inline-block;
		-webkit-appearance:none !important;
		-moz-appearance:none !important;
		appearance:none !important;
		cursor:pointer;
		background:#fff url(/dev/kybsites/aisd/wp-content/themes/aisd/images/resp_menu.gif)95% center no-repeat;
		background-size: 18px 18px;
	}
   .tabsbar {display: none;}

	.js .cal_responsive_nav { display: block; width:100%; }
    .js .tabsbar display: none; }
	 
    .row-fluid span6.settingsright {
      float: none;
      width: 100%;
     }
     .row-fluid span6.settingsleft {
        float: none;
        width: 100%;
     }
}

/* Perhaps bigger tablets */
@media (min-width: 750px) {
	
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1100px) {
}

/* Widescreens */
@media (min-width: 1500px) {
}