/*Small Calendar Styles*/

.days
{
	font-size:11px;
	font-family:Verdana;
	color:#666666;
	width:10%;
	text-align:center;
}

#daybg 
{
	width:26px;
	height:26px;
}

#daybgselected 
{
	width:26px;
	height:26px;
}





/*End calendar styles */