

[class^="icon-"], [class*=" icon-"] {
	font-family: 'kybformfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-resize:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e903";
}
.icon-target3:before {
  content: "\e62c";
}
.icon-cog:before {
  content: "\e900";
}
.icon-cancel-circle:before {
  content: "\e628";
}
.icon-youtube:before {
  content: "\e623";
}
.icon-twitter3:before {
  content: "\e608";
}
.icon-phone:before {
  content: "\e609";
}
.icon-envelope:before {
  content: "\e60a";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-facebook2:before {
  content: "\e602";
}
.icon-facebook3:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-twitter2:before {
  content: "\e605";
}
.icon-move:before {
  content: "\e90c";
}
.icon-target2:before {
  content: "\e62b";
}
.icon-search:before {
  content: "\e60b";
}
.icon-pencil:before {
  content: "\e60c";
}
.icon-copy:before {
  content: "\e617";
}
.icon-copy2:before {
  content: "\e60d";
}
.icon-location:before {
  content: "\e625";
}
.icon-clock:before {
  content: "\e911";
}
.icon-clock2:before {
  content: "\e912";
}
.icon-download:before {
  content: "\e618";
}
.icon-upload:before {
  content: "\e619";
}
.icon-disk:before {
  content: "\e62d";
}
.icon-bubble:before {
  content: "\e60e";
}
.icon-binoculars:before {
  content: "\e60f";
}
.icon-expand:before {
  content: "\e904";
}
.icon-contract:before {
  content: "\e905";
}
.icon-remove:before {
  content: "\e610";
}
.icon-target:before {
  content: "\e629";
}
.icon-cloud-download:before {
  content: "\e61a";
}
.icon-star:before {
  content: "\e616";
}
.icon-cancel-circle2:before {
  content: "\e62a";
}
.icon-close:before {
  content: "\e611";
}
.icon-minus:before {
  content: "\e906";
}
.icon-plus2:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e61b";
}
.icon-arrow-down:before {
  content: "\e61c";
}
.icon-arrow-up2:before {
  content: "\e61d";
}
.icon-arrow-down2:before {
  content: "\e61e";
}
.icon-google:before {
  content: "\e626";
}
.icon-googleplus:before {
  content: "\e627";
}
.icon-instagram:before {
  content: "\e61f";
}
.icon-blogger:before {
  content: "\e90d";
}
.icon-blogger2:before {
  content: "\e90e";
}
.icon-pinterest:before {
  content: "\e620";
}
.icon-compose:before {
  content: "\e612";
}
.icon-linkedin:before {
  content: "\e600";
}
.icon-expand2:before {
  content: "\e908";
}
.icon-youtube2:before {
  content: "\e624";
}
.icon-linkedin2:before {
  content: "\e606";
}
.icon-linkedin3:before {
  content: "\e607";
}
.icon-record:before {
  content: "\e615";
}
.icon-minus2:before {
  content: "\e909";
}
.icon-plus3:before {
  content: "\e90a";
}
.icon-info:before {
  content: "\e901";
}
.icon-layout:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-pinterest2:before {
  content: "\e621";
}
.icon-instagram2:before {
  content: "\e622";
}
.icon-calendar:before {
  content: "\e613";
}
.icon-trash:before {
  content: "\e614";
}
/*Icon Styles */

.f10 {font-size: 10px;}
.f11 {font-size: 11px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f24 {font-size: 24px;}
.f32 {font-size: 32px;}

.fs1 {font-size: 12px !important;}
.fs2 {font-size: 14px !important;}
.fs3 {font-size: 16px !important;}
.fs4 {font-size: 18px !important;}
.fs5 {font-size: 20px !important;}
.fs6 {font-size: 24px !important;}
.fs7 {font-size: 26px !important;}
.fs8 {font-size: 28px !important;}

.icon-gray {color: #aca9a9;}
.icon-white {color: #ffffff;}
.icon-black {color: #000000;}
.icon-gray:hover {color: #ff8300;}
.icon-red {color: #e14d43 !important;}
.cursor {cursor: pointer; cursor: hand;}


.circle {
	background-color: #464646;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px; 
	border-radius: 50%;	
	padding: 8px;
}

.square {
	background-color: #464646;
	padding: 8px;
}

.wht_bg {
	background-color: #ffffff;
}

.grey_bg {
	background-color: #a5a5a5;
}

.blue_bg {
	background-color: #004d71;
}

.blk_bg {
	background-color: #000000;
}

.wht_txt {
	color: #ffffff;
}

.grey_txt {
	color: #a5a5a5;
}

.blk_txt {
	color: #000000;
}

.red_txt {
	color: #d72221;
}

.pink_txt {
	color: #eb008b;
}


/* End Icon Styles */
