<table cellspacing="0" cellpadding="0" style="width:100%;" bgcolor="#FFFFFF" >
	<tr>
		<td align="center" style="background-color:{arrowbgcolor};height:45px;">
			<div class="calmonthsel">{YEAR}</div>
		</td>
	</tr>
</table>
<table cellspacing="2" cellpadding="2" style="width:100%;" bgcolor="#FFFFFF" >
	<tr>
		<td width="25%" align="center" class="wkday" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=1&chm=0&y={YEAR}&view={CURRVIEW}'">January</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=2&chm=0&y={YEAR}&view={CURRVIEW}'">February</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=3&chm=0&y={YEAR}'">March</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=4&chm=0&y={YEAR}'">April</a></td>
	</tr>
	<tr>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=5&chm=0&y={YEAR}'">May</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=6&chm=0&y={YEAR}'">June</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=7&chm=0&y={YEAR}'">July</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=8&chm=0&y={YEAR}'">August</a></td>
	</tr>
	<tr>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=9&chm=0&y={YEAR}'">September</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=10&chm=0&y={YEAR}'">October</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=11&chm=0&y={YEAR}'">November</a></td>
		<td width="25%" align="center" class="wkday yrmonth" valign="top"><a href="javascript:void(0);" class="yrmonth" onclick="javascript:window.location='{URL}?prm=12&chm=0&y={YEAR}'">December</a></td>
	</tr>
</table>