<div class="row-fluid event_blockdate">
	<span class="span2">
		<div class="event_dateblock fullradius">
			<div class="datename">{EVENTDAYNAME}</div>
			<div class="datetxt">{EVENTDAY}</div>
		</div>
	</span>
	<span class="span8 event_title">
		{EVENTTITLE}
		<div class="event_stats">
			{EVENTTIME} {EVENTADDRESS} {EVENTRSVP}
		</div>
		<div class="event_feat_txt">{EXCERPT}</div>
	</span>
</div>