<article id="post-{POSTID}" class="post-{POSTID} post type-post status-publish format-standard hentry category-events tag-events whats-new-article clearfix" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
	<div class="listingbg" id="p-{POSTID}">
		<div class="listingbgleft">
			<div class="profilepicbg">	
				<div class="bubbleInfo">
					<div class="proimgbor">
						{AUTHORIMAGE}
					</div>		
					<span class="profilepicnam">{AUTHORLINK}</span> 
					<div id="dpop" class="popup" style="opacity: 0;">
						<div>
							<span class="profilepicpop">{AUTHORIMAGE}</span><br>
							<span class="popwhttxtpro">{AUTHORLINK}</span>
							<span class="popwhttxtpronor"></span>
							<span class="socialiconspop">
								<a target="_blank" href="{AUTHORLINKEDIN}"><img src="{THEMEURL}/images/linkedinicons.png"></a>
							</span>
							<a target="_blank" href="{AUTHORLINKEDIN}"></a>
						</div>
						<a target="_blank" href="{AUTHORLINKEDIN}"></a>
						<div class="morelink"><a target="_blank" href="{AUTHORLINKEDIN}"></a><a href="{SITEURL}/author/{AUTHORSLUG}"> Learn More</a></div>
						<span class="morelinkarrow">
							<a href="{SITEURL}/author/{AUTHORSLUG}"><img src="{THEMEURL}/images/arrowmore.png"></a>
						</span>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="blkbg">
				<div id="wp-category-events" class="wp-category-thumbnail">{CATEGORYINITIAL}</div>
				<br>
			</div> 
		</div>
		<div class="listingbgright">
			<header class="article-header">
				<b class="page-title" itemprop="headline" id="ptitle-{POSTID}">{EVENTTITLE}</b>
			</header>
			<span id="span-{POSTID}" class="post_summary">{EVENTSUMMARY}</span><br>
			<span class="wp-category-events">
				<a href="javascript:void(0);" id="link-{POSTID}" onclick="displayContainer('{POSTID}');">READ MORE</a>
			</span>
			<section itemprop="articleBody">
				<div style="display:none;" id="detail-{POSTID}">
					<div class="whats-new-content clearfix">
						{EVENTDESCRIPTION}
					</div>
					<div class="whats-new-social">
						{SHARETHIS}
					</div>
					<span class="wp-comment-post">
						<a title="No Comments" href="javascript:void(0);" onclick="loadCommentBox('{POSTID}');">
							<span style="font-size:11px;vertical-align:sub;">COMMENT</span>
							<img style="vertical-align:-8px;height:18px;" src="{THEMEURL}/images/comment-icon.png">
						</a>
					</span>
					<div>
						<div>&nbsp;</div>
						<div class="comment-section-holder" id="comment-section-{POSTID}"></div>
						<span id="span-detail-{POSTID}" class="expandtext" onclick="hideContainer('{POSTID}')">Hide Details <img src="{THEMEURL}/arrow-up.gif" alt="" width="10" height="5" border="0"></span>
					</div>
				</div>
			</section> <!-- end article section -->
		</div>
	</div>
</article>