
	<tr>
		<td align="center" class="arrowbg bordertopleft borderbottomleft" height="30"><a class="arrownav" href="javascript: void(0);" onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','-1', '{YEAR}', '{CURRVIEW}', '{CURRDAY}','{CALID}', false);" >&laquo;</a></td>
		<td colspan="5" align="center" class="calmonthsel">
			<div class="calmonth" align="center">{CURRMONTH}</div>
			
		</td>
		<td align="center" class="arrowbg bordertopright borderbottomright" ><a class="arrownav" href='javascript: void(0);' onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','1', '{YEAR}', '{CURRVIEW}','{CURRDAY}','{CALID}', false);">&raquo;</a></td>
	</tr>
<br>
{EVENTLISTINGS}