<span class="span10">
	<div align="left" class="row-fluid" {recurstyle}>
		<span class="span25" style="padding-top: 5px;"><strong>Repeat every:</strong></span>
		<select name="selPeriod" id="selPeriod" class="span2" onchange="calendar.view.changePeriodText(this)">
			{periodoptions}
		</select>&nbsp;
		<span class="span2" style="padding-top: 5px;"><strong>for the next:</strong></span>
		<input type="text" class="span1" name="tRepeat" id="tRepeat" value="{reperiod}">
		<span class="span2" id="monthId" style="padding-top: 5px;"></span>		
	</div>
	<div class="row-fluid" >
		<input type="radio" name="wknd" id="wknd" value="1" checked="checked" class="form1"> include weekends &nbsp;
		<input type="radio" name="wknd" id="wknd" value="0" class="form1"> exclude weekends
	</div><br>
	<div class="row-fluid" id="customrecur">{customdates}</div>
<p><i>To add custom recurring dates, click on the link below and enter the date(s).</i><br>
	<a href="javascript:void(0);" onclick="calendar.view.addRecurDate()">Add Custom Recurring Date(s)</a></p>
	
	<p align="left" class="text7" style="display:block;">
		<input type="radio" name="chbOverride" id="chbOverride" value="1" checked="checked" class="override" disabled="true"> add to existing events <br>
		<input type="radio" name="chbOverride" id="chbOverride" value="0" disabled="true" class="override"> overwrite existing events
	</p>
</span>