<div class="bubbleInfoimg">
	<div class="trigger" style="position:relative;">
		<div class="gridimgbg" style="background:transparent;width:100%;height:auto;">
			<div align="right">{DAYLINK}</div>			
		</div>
		
		<div id="dpop" class="popupgrid" style="opacity: 0; top: -20px; left: -5px; width: 125px; height:auto !important; display: none;">
			<div>
				
				<span class="popwhttxtpro" style="text-align:left;">{EVENTLISTINGS}</span>
				<span class="popwhttxtpronor"> </span>
				
			</div>
			<table cellpadding="0" cellspacing="0" align="right">
				<tr>
					<td valign="top" align="right"><a href="{VIEWDAYLINK}" style="padding-bottom:25px;">View Full Day</a></td>
					<td align="right"><a href="{VIEWDAYLINK}"><img src="{THEMEURL}/images/arrowmore.png"></a></td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>
		<div class="caltext">{INFORMATION}</div>
	</div>
</div>