	{CALENDAR}		

						
					
<!--<table cellspacing="0" cellpadding="0" style="width:100%;" bgcolor="#FFFFFF" >
	<tr>
		<td align="center" style="background-color:{arrowbgcolor};height:45px;">
			<div class="calmonthsel">{MONTHNAME} {YEAR}</div>
		</td>
	</tr>
</table>
<table cellspacing="2" cellpadding="2" style="width:100%;" bgcolor="#FFFFFF" >
	<tr>
		<td width="10%" align="center" class="wkdayname">Sun</td>
		<td width="10%" align="center" class="wkdayname">Mon</td>
		<td width="10%" align="center" class="wkdayname">Tue</td>
		<td width="10%" align="center" class="wkdayname">Wed</td>
		<td width="10%" align="center" class="wkdayname">Thu</td>
		<td width="10%" align="center" class="wkdayname">Fri</td>
		<td width="10%" align="center" class="wkdayname">Sat</td>
	</tr>
	{CALENDAR}
	</tr>
</table>-->