<div style="width:100%;background-color: #ffffff;">
<div style="margin-left: 20px;">
<form action="{ADMINURL}" method="POST" name="CalForm" >
<input name="calID" type="hidden" id="calID" value="{ID}">
<input name="process" type="hidden" id="process" value="{PROCESS}" />
<table  border="0" cellpadding="3" cellspacing="3" width="95%">	
	<tr>
		<td colspan="2">
			<div class="label"><strong>Show In Event Calendar:&nbsp;</strong></div>
			<select name="showInCal" style="width:50px;" class="form1">{ADDTOCALOPTIONS}</select>
		</td>
	</tr>
	<tr>
	    <td colspan="2">
		<div class="label"><strong>Associated Calendar Theme:&nbsp;</strong></div>
		<select name="calendar_id" id="calendar_id" class="form1" style="width:100%;">
		{CALENDARTHEMES}
		</select>
		</td>
	</tr>
	<tr>
	    <td colspan="2">
			<div class="label"><strong>Event Title:&nbsp;</strong></div>
			<input type="text" class="form1" name="title" value="{TITLE}" style="width:100%;">
		</td>
	</tr>
	<tr>
	    <td colspan="2">
			<div class="label"><strong>Event Date:&nbsp;</strong></div>
			<input type="text" class="form1" name="event_date_full" value="{EVENTDATE}" id="datepicker" style="width:100%;">
		</td>
	</tr>
	<tr>
	    <td colspan="2">
		<div class="label"><strong>Event Start Time:&nbsp;</strong></div>
		<div>
			Hour: <select name="start_hour" style="width:50px;" class="form1">{STARTHOUROPTIONS}</select>&nbsp;Minute: <select name="start_minute" style="width:50px;" class="form1">{STARTMINUTEOPTIONS}</select>
			<input type="radio" name="start_day" class="form1" value="AM" {STARTAMCHECKED}/>&nbsp;AM &nbsp;&nbsp;<input type="radio" class="form1" name="start_day" {STARTPMCHECKED} value="PM"/>&nbsp;PM
		</div>
		</td>
	</tr>
	<tr>
	    <td colspan="2">
		<div class="label"><strong>Event End Time:&nbsp;</strong></div>
		<div >
			Hour: <select name="end_hour" style="width:50px;" class="form1">{ENDHOUROPTIONS}</select>&nbsp;Minute: <select name="end_minute" style="width:50px;" class="form1">{ENDMINUTEOPTIONS}</select>
			<input type="radio" name="end_day" class="form1" value="AM" {ENDAMCHECKED}/>&nbsp;AM &nbsp;&nbsp;<input type="radio" class="form1" name="end_day" {ENDPMCHECKED} value="PM"/>&nbsp;PM
		</div>
		</td>
	</tr>
</table>
</div>
</div>