<div class="wrap">
<p class="adminheader" colspan="2" ><strong>Calendar Settings</strong></p>

<div class="tabsbar" style="overflow: hidden;">
	<ul class="sf-menu" id="calmgtnav">
		<li class="active"><a href="javascript:void(0);" onclick="calendar.view.toggletabs('1', this, 1, 'body')"><span class="icon-layout"></span> General</a></li>
		<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('2', this, 1, 'body')"><span class="icon-layout"></span> Calendar Header</a></li>
		<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('3', this, 1, 'body')"><span class="icon-layout"></span> Direction Arrows</a></li>
		<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('4', this, 1, 'body')"><span class="icon-layout"></span> Month/Year</a></li>
		<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('5', this, 1, 'body')"><span class="icon-layout"></span> Names Of The Week</a></li>
		<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('6', this, 1, 'body')"><span class="icon-layout"></span> Week Days</a></li>
	</ul>
	<div class="clear"></div>
</div>
<select class="cal_responsive_nav" onchange="calendar.view.toggletiny(this)">
<option value="1">General</option>
<option value="2">Calendar Header</option>
<option value="3">Direction Arrows</option>
<option value="4">Month/Year</option>
<option value="5">Names Of The Week</option>
<option value="6">Week Days</option>
</select>
<form name="CalSettings" action="{ADMINURL}" method="post">
<input type="hidden" name="calID" id="calID" value="{CALID}">
<input type="hidden" name="process" id="process" value="calsubmit">
<div class="row-fluid">
	<div class="span6 settingsleft">
		<div id="body1" class="widget open">
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">General Settings</h4>
			</div>
			<!-- // Widget heading END -->

			<!-- // Widget body -->
			<div class="widget-body">
				<br>
				<div class="row-fluid">				
					<label>Calendar Hook&nbsp;:&nbsp;</label>
					<span>{CALHOOK}<br><i>(copy this hook to your page to show the calendar)</i><br><br></span>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Calendar Theme Name&nbsp;:&nbsp;</label>
					<input type="text" class="span7" name="form[cal_title][s]" id="cal_title" value="{CALTITLE}"/>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Calendar Description&nbsp;:&nbsp;</label>
					<textarea name="form[cal_description][s]" id="cal_description" class="span7" style="height:75px;">{CALDESC}</textarea>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Starting Weekday&nbsp;:&nbsp;</label>
					<select name="form[start_wday][i]" id="start_wday" class="span7">
						{STARTWKDAYSOPTIONS}
					</select>
				</div>				
				<div class="row-fluid">				
					<label><font color='red'>*</font> Show As Event List&nbsp;:&nbsp;</label>
					<select name="form[show_list][i]" id="show_list" class="span7">
						{SHOWSETTINGSOPTIONS}
					</select>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Show Mth/Yr Apply&nbsp;:&nbsp;</label>
					<select name="form[show_myapply][i]" id="show_myapply" class="span7">
						{MTHYROPTIONS}
					</select>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Show Next/Previous Buttons&nbsp;:&nbsp;</label>
					<select name="form[show_nextprev][i]" id="show_nextprev" class="span7">
						{NEXTPREVOPTIONS}
					</select>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Show Viewing Options&nbsp;:&nbsp;</label>
					<select name="form[show_views][i]" id="show_views" class="span7">
						{SHOWVIEWPREVOPTIONS}
					</select>
				</div>
				<div class="row-fluid">				
					<label><font color='red'>*</font> Calendar Status&nbsp;:&nbsp;</label>
					<select name="form[cal_status][i]" id="cal_status" class="span7">
						{CALENDARSTATUSOPTIONS}
					</select>
				</div>
				<!--<div class="row-fluid">				
					<label><font color='red'>*</font> Word Press Page View&nbsp;:&nbsp;</label>
					{WP_PAGE}
				</div>-->
				<div class="row-fluid">				
					<label><font color='red'>*</font> Post Category&nbsp;:&nbsp;</label>
					{WP_CATEGORY}
				</div>
			</div>
		</div>
		{SETTINGBLOCKS}
		<div id="body2" class="widget closed">
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">Calendar Header Settings</h4>
			</div>
			<!-- // Widget heading END -->
			<div class="widget widget-tabs">
				<div class="widget-head">
					<ul>
						<li class="active"><a href="javascript:void(0);" onclick="calendar.view.toggletabs('1', this, 1, 'subbody')"><span class="icon-layout"></span> Apply Button</a></li>
						<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('2', this, 1, 'subbody')"><span class="icon-layout"></span> Directional Buttons</a></li>
						<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('3', this, 1, 'subbody')"><span class="icon-layout"></span> Calendar View Buttons</a></li>
					</ul>
				</div>
			</div>
			<div class="widget-body">
				<div class="tab-content">
					{SUBBLOCKS1}
				</div>
			</div>	
		</div>
		<div id="body6" class="widget closed">
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">Calendar Week Days</h4>
			</div>
			<!-- // Widget heading END -->
			<div class="widget widget-tabs">
				<div class="widget-head subwidget">
					<ul>
						<li class="active"><a href="javascript:void(0);" onclick="calendar.view.toggletabs('4', this, 4, 'subbody')"><span class="icon-layout"></span> Days</a></li>
						<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('5', this, 4, 'subbody')"><span class="icon-layout"></span> Selected Days</a></li>
						<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('6', this, 4, 'subbody')"><span class="icon-layout"></span> Links</a></li>
						<li class=""><a href="javascript:void(0);" onclick="calendar.view.toggletabs('7', this, 4, 'subbody')"><span class="icon-layout"></span> Current Day</a></li>
					</ul>
				</div>
			</div>
			<div class="widget-body">
				<div class="tab-content">
					{SUBBLOCKS2}
				</div>
			</div>			
		</div>		
	</div>
	<div class="widget-body span6 settingsright">
		<div class="adminheader" colspan="2" ><strong>Calendar Preview</strong></div>
		<input type="button" class="button" value="Preview Changes" onclick="calendar.view.switchCalView('{PLUGINURL}', '{AJAXURL}', 'changecal', 'calID=>{CALID},preview=>1,action=>cal_action')">
		<div align="center">				
			{CALVIEW}			
		</div>
		</div>
	</div>
	<div class="row-fluid">
		<input type="submit" class="button-primary text11 cursor" value="Save Settings">&nbsp;<input type="button" class="button-primary text11 cursor" value="Cancel" onclick="javascript:window.location='{ADMINURL}'">
		<br><br>
	</div>
</div>

</form>

</div>
