<div class="wrap">
{CALSTYLE}
<br>
<h4>{CALTITLE}</h4>
<br>

<table align="center"  cellspacing="0" cellpadding="0" width="90%" style="background-color: #ffffff;">
	<tr>
		<td style="width: 100%;">
			<div class="row-fluid">
				<div class="span6">
					<input type="button" class="button" value="{BUTTON}"  onclick="javascript:window.location='{ADMINURL}&process=addnew'" style="cursor:hand;cursor:pointer"/>&nbsp;
					Select Calendar Theme: 
					<select name="calID" id="calID" onchange="calendar.view.gotoLink('{ADMINURL}&calID=', this)">
						{THEMEOPTIONS}
					</select>
					<input type="button" class="button" value="Edit Theme"  onclick="javascript:window.location='{ADMINLINK}admin.php?page=kybcalendar-calendar-themes&process=settings&calID={CALID}'" style="cursor:hand;cursor:pointer"/>&nbsp;
				</div>
				<div class="span6" align="right">
					<span class="4"><input id="datepicker" placeholder="Search by date"  type="text"  style="height:28px;"></span>
					<span class="4"><input id="post-search-input"   placeholder="Search by keyword"  type="text" style="height:28px;"></span>
					<span class="4"><input name="" id="search-submit" class="button btn_green" value="Search" type="button" style="vertical-align: top;" onclick="calendar.view.showSearch('{ADMINURL}')"></span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="cal">
			<table cellspacing="0" cellpadding="0" align="center" width="100%"  bgcolor="#FFFFFF" >
				<tr>
					<td align="center" class="arrowbg" height="35"><a class="arrownav" href='javascript:void(0)' onclick="calendar.view.updateCal('next', '-1')">&laquo;</a></td>
					<td colspan="5" align="center" class="calmonthsel">
						<div class="jump">
							<select class="jumpsel" id="monthsel" onchange="calendar.view.updateCal()" style="height:40px;">{SINGLEMONTHOPTIONS}</select>
							<select class="jumpsel" id="yearsel" onchange="calendar.view.updateCal()" style="height:40px;">{YEAROPTIONS}</select>							
						</div>
					</td>
					<td align="center" class="arrowbg"><a class="arrownav" href='javascript:void(0)' onclick="calendar.view.updateCal('next', '1')">&raquo;</a></td>
				</tr>
				<tr>
					{CALHEADERS}
				</tr>
             <tr id='calindexevents'>
				{CALVIEW}		
             </tr>
</table>

		</td>
	</tr>
</table>
</div>