<div style="padding-bottom:10px;">
	<div class="{SHOWMTHYR}" style="float:left; ">
		<div class="flex align_start">
			<select name="Months" id="month" class="applyselect">{SINGLEMONTHOPTIONS}</select>&nbsp;
			<select name="Years" id="year" class="applyselect">{YEAROPTIONS}</select>&nbsp;
			<input type="button" class="btn_dark2 cursors fullradius" name="Apply" id="Apply"  value="Apply" onclick="calendar.view.applyCal('{MONTH}', '{CURRVIEW}', '{AJAXURL}', '{CALID}')">
		</div>
	</div>
	<div style="float:right;">
		<div class="{SHOWNEXTPREV}" align="center" style="margin-bottom:5px;">
			<div class="btn_prev cursors fullradius" name="Previous" id="Previous" value="Previous" onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','-1', '{YEAR}', '{CURRVIEW}', '{CURRDAY}', '{CALID}', false);">< Previous</div>
			<div class="btn_today cursors fullradius" name="Today" id="Today" value="Today" onclick="calendar.view.calNav('{AJAXURL}', '{THISMONTH}','0', '{THISYEAR}', '{CURRVIEW}','{CURRDAY}','{CALID}', true);">Today</div>
			<div class="btn_next cursors fullradius" name="Next" id="Next" value="Next >" onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','1', '{YEAR}', '{CURRVIEW}','{CURRDAY}', '{CALID}', false);">Next ></div>
			
		</div>
		<div class="{SHOWVIEWS}" align="center" >
			<div class="btn_view cursors fullradius {yrselected}" name="Year" id="Year" value="Year" onclick="calendar.view.changeCalView('Year','{MONTH}', '{AJAXURL}','{CURRDAY}','{CALID}')">Year</div>
			<div class="btn_view cursors fullradius {mthselected}" name="Month" id="Month" value="Month" onclick="calendar.view.changeCalView('Month','{MONTH}', '{AJAXURL}','{CURRDAY}','{CALID}')">Month</div>
			<div class="btn_view cursors fullradius {wkselected}"  name="Week" id="Week" value="Week" onclick="calendar.view.changeCalView('Week','{MONTH}', '{AJAXURL}','{CURRDAY}','{CALID}')">Week</div>
			<div class="btn_view  cursors fullradius {dayselected}" name="Day" id="Day" value="Day" onclick="calendar.view.changeCalView('Day','{MONTH}', '{AJAXURL}','{CURRDAY}','{CALID}')">Day</div>
			<div class="btn_view  cursors fullradius {listselected}" name="List" id="List" value="List" onclick="calendar.view.changeCalView('List','{MONTH}', '{AJAXURL}','{CURRDAY}','{CALID}')">List</div>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>