<div id="{blocknum}" class="{class}">
	<!-- Widget heading -->
	<div class="widget-head">
		{heading}
	</div>
	<!-- // Widget heading END -->

	<!-- // Widget body -->	
	<br>
	<div class="row-fluid">				
		<label>Font&nbsp;:&nbsp;</label>
		<select name="{fontfieldname}" id="{fontfieldid}" class="span7" width="200">
			{fontfieldvalue}
		</select>
	</div>
	<div class="row-fluid">				
		<label>Font Style&nbsp;:&nbsp;</label>
		<select name="{stylefieldname}" id="{stylefieldid}" class="span7">
			{stylefieldvalue}
		</select>
	</div>
	<div class="row-fluid">				
		<label>Font Size&nbsp;:&nbsp;</label>
		<select name="{fontsizefieldname}" id="{fontsizefieldid}" class="span7">
			{fontsizefieldvalue}
		</select>
	</div>
	<div class="row-fluid">				
		<label>Font Color&nbsp;:&nbsp;</label>
		<input type="text" name="{colorfieldname}" id="{colorfieldid}" value="{colorfieldvalue}" class="{colorclass}" data-default-color="{colordefault}" />
	</div>
	<div class="row-fluid">				
		<label>Background Color&nbsp;:&nbsp;</label>
		<input type="text" name="{bgfieldname}" id="{bgfieldid}" value="{bgfieldvalue}" class="{bgclass}" data-default-color="{bgdefault}" />
	</div>
	<div class="row-fluid">				
		<label>Border Color&nbsp;:&nbsp;</label>
		<input type="text" name="{borderfieldname}" id="{borderfieldid}" value="{borderfieldvalue}" class="{borderclass}" data-default-color="{borderdefault}" />
	</div>
	<div class="row-fluid {imgclass}">				
		<label>Background Image&nbsp;:&nbsp;</label>
		<label class="labelfull" for="{imgname}">
			<input id="{imgid}" type="text" class="uploadimg span12" name="{imgname}" value="{imgval}" /><br/>
			<input id="{imgbtn}" type="button" class="button-primary text11 uploadbtn"  value="Upload/Select Image" />
			<div class="text11">Enter a URL or upload an image</div>
			<div class="labelimage" data-id="{imgsrcname}"></div>
		</label>
	</div>	
</div>
