<div id="calendarset" >
{CALSTYLE}
<br>

<table cellspacing="0" cellpadding="0" width="95%" >
	<tr>
		<td valign="top">
			{CALBUTTONS}
			<table cellspacing="0" cellpadding="0" style="width:100%;" bgcolor="#FFFFFF" id="kybcalmain">
				<tbody>
				<tr>
					<td align="center" class="arrowbg bordertopleft" height="30"><a class="arrownav" href="javascript: void(0);" onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','-1', '{YEAR}', '{CURRVIEW}', '{CURRDAY}','{CALID}', false);" >&laquo;</a></td>
					<td colspan="5" align="center" class="calmonthsel">
						<div class="calmonthsel" align="center">{CURRMONTH}</div>
						
					</td>
					<td align="center" class="arrowbg bordertopright" ><a class="arrownav" href='javascript: void(0);' onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','1', '{YEAR}', '{CURRVIEW}','{CURRDAY}','{CALID}', false);">&raquo;</a></td>
				</tr>
				<tr>
					{CALHEADERS}
				</tr>
				{CALVIEW}
				</tbody>
			</table>
		</td>
	</tr>
</table>
{MINICAL}
</div>
