<br><h4>Calendar Listings</h4><br>
<input type="button" class="LoginFormButton_sm" value="Add Announcement"  onclick="javascript:window.location='{ADMINURL}&process=addnew'"/><br/><br/>

<div class="tablenav top">
	<div class="tablenav-pages"><span class="displaying-num">{LISTCOUNT} items - showing {START} - {END}</span>
	{PAGENAV}
	</div>
</div>
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><div style="margin-left:10px;">	
			{LISTINGS}
           </div>
		</td>
	</tr>
</table>