<div id="calendarset" >
{CALSTYLE}
<br>
<div class="container-full " id="kybcalmain">
	<div class="col eleven tablet-eleven mobile-full" style="width:95%">
		{CALBUTTONS}
		<table cellspacing="0" cellpadding="0" style="width:100%;" bgcolor="#FFFFFF">
			<tbody>
			<tr>
				<td width="10%" align="center" class="arrowbg bordertopleft borderbottomleft" height="30"><a class="arrownav" href="javascript: void(0);" onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','-1', '{YEAR}', '{CURRVIEW}', '{CURRDAY}','{CALID}', false);" >&laquo;</a></td>
				<td colspan="5" align="center" class="calmonthsel">
					<div class="calmonth" align="center">{CURRMONTH}</div>
					
				</td>
				<td width="10%"  align="center" class="arrowbg bordertopright borderbottomright" ><a class="arrownav" href='javascript: void(0);' onclick="calendar.view.calNav('{AJAXURL}', '{MONTH}','1', '{YEAR}', '{CURRVIEW}','{CURRDAY}','{CALID}', false);">&raquo;</a></td>
			</tr>
		</table>
		<br>
		{EVENTLISTINGS}
		
	</div>
</div>
{MINICAL}
</div>
