<br><h4>{LISTINGTYPE}</h4><br>
<input type="button" class="button" value="Add New Event"  onclick="javascript:window.location='{ADMINURL}&process=addnew'"/>&nbsp;<input type="button" class="button" value="Return To Calendar"  onclick="javascript:window.location='{ADMINURL}'"/><br/><br/>
<p class="search-box">
	<label class="screen-reader-text" for="post-search-input">Search Events:</label>
	<input id="datepicker" name="d" value="Search by date"  type="text" onmouseover="this.value=''">
	<input id="post-search-input" name="s"  value="Search by keyword" type="text" onmouseover="this.value=''">
	<input name="" id="search-submit" class="button" value="Search Events" type="button" onclick="showSearch('{ADMINURL}')">
</p>
<div class="tablenav top">
	<div class="tablenav-pages"><span class="displaying-num">{LISTCOUNT} items - showing {START} - {END}</span>
	{PAGENAV}
	</div>
</div>
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><div style="margin-left:10px;">	
			{LISTINGS}
		</td>
	</tr>
</table>