<div id="eventbox" style="background-color:{BGCOLOR}">
	<hr style="border:dotted #dddddd 1px;"/>
	<div class="eventcontentfull" >
		<div style="float:left;width:70%;">
			<div class="title2"><a href="{EVENTURL}">{EVENTTITLE}</a></div>
			<div class="event_date">{EVENTDATE}<br>{EVENTADDRESS}</div>
		</div>
		<div style="float:left;width:30%;">
			
			<div align="right">
				
				<div >
					<div class="ssmshare cursor" onclick="javascript:NewWindow2('{FACEBOOKSHARELINK}','500','500','no','center')" ><span class="icon-facebook square blue_bg wht_txt f11"></span><span class="square wht_bg blk_txt f11">share</span></div>
					<div class="ssmshare cursor" onclick="javascript:NewWindow2('{TWITTERLINK}','500','500','no','center')"><span class="icon-twitter square blue_bg wht_txt f11"></span><span class="square wht_bg blk_txt f11">share</span></div>
				
				
				<!--<a href="javascript:void();" title="Share this on Facebook"><img src="{PLUGINURL}/images/share_facebook2.jpg" alt="Share on Facebook" title="Share on Facebook" onclick="javascript:NewWindow2('{FACEBOOKSHARELINK}','500','500','no','center')" alt="Post On Your Facebook About This Event" title="Post On Your Facebook About This Event"/></a>&nbsp;
			
				<a href="javascript:void();" onclick="javascript:NewWindow2('{TWITTERLINK}','Share on Twitter','500','500','no','center');" target="_blank"><img src="{PLUGINURL}/images/share_twitter2.jpg" border="0" alt="Send Tweet To Your Friends About This Event" title="Send Tweet To Your Friends About This Event"></a>-->
				<!--<a href="javascript:void();" onclick="javascript:window.open('{GOOGLELINK}')" target="_blank"><img src="{PLUGINURL}/images/icon_google.jpg" border="0" alt="Add To Google Calendar" title="Add To Google Calendar"/></a>&nbsp;
				<a href="javascript:void();" onclick="javascript:window.open('{OUTLOOKURL}')" target="_blank"><img src="{PLUGINURL}/images/icon_outlook.jpg" border="0" alt="Add To Microsoft Outlook Calendar" title="Add To Microsoft Outlook Calendar"/></a>--><br/>
							
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div>
			<div class="event_image"><a href="{EVENTURL}"><img src="{FEATUREIMAGE}" border="0"></a></div>
			<div class="event_text">{EVENTDESCRIPTION}</div>
			<!--<div class="event_image" {DESCIMAGESTYLE}><a href="{EVENTURL}"><img src="{FEATUREIMAGE}" border="0"></a></div>-->
			<div class="clear"></div>
			{RSVPLINK}
		</div>
	</div>	
</div>
<br>