<div class='wrap'>
<div style="margin-left: 20px;">
<form action="{ADMINURL}" method="POST" name="CalForm" onsubmit="return formCheck(this,'calendar_id,title,datepicker', 'Associated Calendar Theme,Event Title,Event Date')">
<input name="id" type="hidden" id="id" value="{ID}">
<input name="calID" id="calID" type="hidden" value="{CALID}">
<input name="process" type="hidden" id="process" value="{PROCESS}" />
<font color='red'>*</font>&nbsp;indicates required fields
<br><br>
<input name="Submit" type="button" class="button" id="Submit" value="Return To Calendar" onclick="window.location='{ADMINURL}&calID={CALID}'">
<br><br>
<div class="row-fluid">
	<div class="span10">
		<div class="row-fluid">
			<label class="wcolor">ID&nbsp;:&nbsp;</label>
			<span class="span7">{ID}</span>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Associated Calendar Theme&nbsp;:&nbsp;</label>
			<select name="calendar_id" id="calendar_id" class="span8" >
				{CALENDARTHEMES}
			</select>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Title&nbsp;:&nbsp;</label>
			<input type="text" class="span8" name="title" id="title" value="{TITLE}"/>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Date&nbsp;:&nbsp;</label>
			<input type="text" class="span8" name="event_date_full" value="{EVENTDATE}"  id="datepicker">
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Start Time&nbsp;:&nbsp;</label>
			<span class="span3">
				<label class="span4">Hour:</label>
				<select name="start_hour" id="start_hour" class="span7">{STARTHOUROPTIONS}</select>
			</span>
			<span class="span3">
				<label class="span4">Minute:</label>
				<select name="start_minute" id="start_minute" class="span7">{STARTMINUTEOPTIONS}</select>
			</span>
			<span class="span2" style="padding-top:5px;">
				<input type="radio" name="start_day" id="start_day"  value="AM" {STARTAMCHECKED}/>&nbsp;AM &nbsp;&nbsp;<input type="radio" name="start_day" {STARTPMCHECKED} value="PM" />&nbsp;PM
			</span>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event End Time&nbsp;:&nbsp;</label>
			<span class="span3">
				<label class="span4">Hour:</label>
				<select name="end_hour" id="end_hour" class="span7">{ENDHOUROPTIONS}</select>
			</span>
			<span class="span3">
				<label class="span4">Minute:</label>
				<select name="end_minute" id="end_minute" class="span7">{ENDMINUTEOPTIONS}</select>
			</span>
			<span class="span2" style="padding-top:5px;">
				<input type="radio" name="end_day" id="end_day"  value="AM" {ENDAMCHECKED}/>&nbsp;AM &nbsp;&nbsp;<input type="radio" name="end_day" {ENDPMCHECKED} value="PM" />&nbsp;PM
			</span>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Time Zone&nbsp;:&nbsp;</label>
			<select name="event_timezone" id="event_timezone" class="span8">{TZOPTIONS}</select>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Address&nbsp;:&nbsp;</label>
			<input type="text" class="span8" name="event_address" id="event_address" value="{ADDRESS}">
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event City&nbsp;:&nbsp;</label>
			<input type="text" class="span8" name="event_city" id="event_city" value="{CITY}">
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event State&nbsp;:&nbsp;</label>
			<select name="event_state" id="event_state" class="span8" >{STATEOPTIONS}</select>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Zip&nbsp;:&nbsp;</label>
			<input type="text" class="span8" name="event_zip" id="event_zip"value="{ZIP}">
		</div>
		<div class="row-fluid">
			<div align="center">{RECURRINGOPTIONS}</div>
			<br>
		</div>
		<div class="row-fluid {RECURCLASS}">
			<label class="wcolor">Recurring Options&nbsp;:&nbsp;</label>
			<span class="span8">{REPEATOPTIONS}</span>
		</div>
	<div class="row-fluid" style='padding-bottom: 10px;'>
		<label class="wcolor">Featured Image&nbsp;:&nbsp;</label>
		<span class="span7" for="featured_image">
			<input id="featured_image" type="text" class="uploadimg span12" name="featured_image" value="{LOGOIMAGE}" /><br/>
			<input id="upload_image_button" type="button" class="button-primary text11 uploadbtn"  value="Upload/Select Image" />
			<div class="text11">Enter a URL or upload an image to accompany the event</div>
			<div class="labelimage" data-id="upload_image_button">{VIEWIMAGE}</div>
		</span>
	</div>	

		<div class="row-fluid">
			<label class="wcolor">Listing Text&nbsp;:&nbsp;</label>
			<textarea class="span8" name="featured_txt" style="height:75px;" maxlength="255">{FEATUREDRTEXT}</textarea>
		</div>
		
		<div class="row-fluid">
			<label class="wcolor">RSVP For Event?&nbsp;:&nbsp;</label>
			<select name="event_rsvp" id="event_rsvp" class="span8">{RSVPOPTIONS}</select>
		</div>
		<div class="row-fluid">
			<label class="wcolor">RSVP Link&nbsp;:&nbsp;</label>
			<input type="text" class="span8" name="rsvp_link" id="rsvp_link"value="{RSVPLINK}">
		</div>
		
		<!--<div class="row-fluid">
			<label class="wcolor">RSVP Form&nbsp;:&nbsp;</label>
			<select name="rsvp_form"  class="span8">{RSVPFORMS}</select>
		</div>-->
		<div class="row-fluid">
			<label class="wcolor">Event Status&nbsp;:&nbsp;</label>
			<select name="status" class="span8">{STATUSOPTIONS}</select>
		</div>
		<div class="row-fluid">
			<label class="wcolor">Event Description&nbsp;:&nbsp;</label>
			<span class="span8">{EVENTDESCRIPTION}	</span>
		</div>
		<div class="row-fluid">
		<p align="left">
	  {ACTIONBUTTONS}
	</p>
	</div>
	</div>
	
</div>

</form>
</div>
</div>