<div class="wrap">
	<h4>Manage Calendar Themes</h4><br>
	<p><b>Select Calendar Theme Below</b>&nbsp;&nbsp;<a style="font-size:13px;" href="{ADMINURL}&process=settings&calID=0">Create New Calendar Theme</a></p>
	<p id="linktocopy"></p>
	<table cellpadding='2' cellspacing='2'  width='90%' class="widefat fixed comments">
		<thead>
		<tr>
			<th scope="col" class="manage-column column-cal-title">Theme Title</th>
			<th scope="col" class="manage-column column-cal-hook">Theme Hook<br/></th>
			<th scope="col" class="manage-column column-cal-status">Theme Status</th>
			<th scope="col" class="manage-column column-cal-manage col-center">Manage Calendar</th>
			<th scope="col" class="manage-column column-cal-edit col-center">Edit Theme</th>
			<th	scope="col" class="manage-column column-cal-delete col-center">Delete Theme</th>
		</tr>
		</thead>

		<tbody id="the-comment-list" class="list:comment">
		{CALTHEMELIST}
		</tbody>

		<tfoot>
		<tr>
			<th scope="col" class="manage-column column-cal-title">Theme Title</th>
			<th scope="col" class="manage-column column-cal-hook">Theme Hook<br/></th>
			<th scope="col" class="manage-column column-cal-status">Theme Status</th>
			<th scope="col" class="manage-column column-cal-manage col-center">Manage Calendar</th>
			<th scope="col" class="manage-column column-cal-edit col-center">Edit Theme</th>
			<th	scope="col" class="manage-column column-cal-delete col-center">Delete Theme</th>
		</tr>
		</tfoot>
	</table>
</div>