{CALSCRIPT}
<script language="javascript">
<!--

	function changeCAL(obj, url) {
		items = obj.value;
		var fieldItems = new Array();
		fieldItems = items.split("-");
		var prm = fieldItems[0];
		url = url + "?prm=" + prm + "&chm=1";
		window.location = url;
	}
-->
</script>
<style>
div#tipDiv {
    padding:4px;
    color:#000; font-size:11px; line-height:1.2;
    background-color:#E1E5F1; border:1px solid #667295; 
    width:250px; 
}

#cal td {
	border: solid #eef2f3 1px;
	
}

.calmonth {
	font-weight: bold;
	color: #ffffff;
	
}

.calmonthsel {
	font-weight: bold;
	color: #ffffff;
	border: 0px;
	background-color:#5e899a;
}

#daybg 
{
	/*background:url({PLUGINURL}/images/daybg.gif) top left no-repeat;*/
	width:26px;
	height:26px;
	text-align:center;
	border: solid #dddddd 1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#daybgselected 
{
	/*background:url({PLUGINURL}/images/dayselectedbg.gif) top left no-repeat;*/
	width:26px;
	height:26px;
	text-align:center;
	border: solid #dddddd 1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f2f2f2;
	color: #ffffff;
}

</style>
<script language="javascript">
<!--

	function showSearch() {
		var keywords = document.getElementById('post-search-input').value;
		window.location = "{ADMINURL}&process=viewday&filtertype=search&keywords=" + keywords;
	}
-->
</script>

<!--<p class="search-box">
	<label class="screen-reader-text" for="post-search-input">Search Events:</label>
	<input id="post-search-input" name="s"  value="" type="text">
	<input name="" id="search-submit" class="button" value="Search Events" type="button" onclick="showSearch()">
</p>-->
<br>
<table cellspacing="5" cellpadding="5" width="100%">
	<tr>
		<td valign="top">
			<table cellspacing="0" cellpadding="0" style="width:100%;" bgcolor="#FFFFFF" >
				<tr>
					<td align="center" style="background-color:#5e899a;" height="30"><a class="calmonth" style="font-size:30px;color:#ffffff;" href="{URL}?prm={MONTH}&chm=-1">&laquo;</a></td>
					<td colspan="5" align="center" style="background-color:#5e899a;">
						<select name="Calmonth" class="calmonthsel" onchange="changeCAL(this, '{URL}')">
							{MONTHOPTIONS}
						<select>
						<!--<div class="calmonth">
							{CURRMONTH}							
						</div>-->
					</td>
					<td align="center"style="background-color:#5e899a;"><a class="calmonth" style="font-size:30px;color:#ffffff;" href='{URL}?prm={MONTH}&chm=1'>&raquo;</a></td>
				</tr>
				<tr>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Sunday</b></font></td>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Monday</b></font></td>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Tuesday</b></font></td>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Wednesday</b></font></td>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Thursday</b></font></td>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Friday</b></font></td>
					<td width="10%" align="center" style="background-color:#e77d07;height:35px;color:#ffffff;"><font size="1" face="Tahoma"><b>Saturday</b></font></td>
				</tr>
				{CALENDAR}
				</tr>
			</table>
		</td>
		<td valign="top">{EVENTLISTINGS}</td>
	</tr>
</table>